 /*  ========================================================================
  		Global Colors
 ========================================================================== */


$white: white;
$gray: #414141;
$black: #161616; //rgb(22,22,22)
$blue : rgb(8,93,177);


$red: rgb(255,100,102);
$green: rgb(0,232,166);

