{% extends "layout.twig" %}



{% block main %}

<main id="product-archive">

    <div class="container-fluid">
    {% for category in categories %}

        <div class="product-category-item {{loop.first ? 'header-overlap-reference'}}">
            <a  href="{{category.link}}" class="product-category-item-wrapper">
                <div class="image-background" style="background-image:url({{TimberImage(category.image)|resize(630,358)}})">
                </div>
                <h2 class="h2-serif">{{category.name}}</h1>
            </a>
              <div class="clear"></div>
        </div>
      
    {% endfor %}
    </div>

 </main>   

{% endblock %}
