.cols3-text {
  
    .justify-content-between-custom {
        @include media-breakpoint-down(md){
            justify-content: space-between !important;
        }
    }
    .item {
       
        @include media-breakpoint-only(md){
            max-width:188px;
            width:33.33%;
        }
        @include media-breakpoint-down(sm){
            &:not(.last){
                margin-bottom:50px;
            }
        }


    }
}