.headline_text {
    h2 {
        @include media-breakpoint-up(md){
            margin-bottom:0;
        }
    }
}

.section.headline_text,
.section {
    .headline-text-text {
        p:last-child {
            margin-bottom:0;
        }
    }
}
