.login h1 a {
		background-color: transparent !important;
	  background-image: url(../../images/logo.svg) !important;
	  background-size: contain;
	  -webkit-background-size: contain;
	  background-position: center center;
	  -webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		width:200px;
}

body.login {
	background:$dark-blue;
	#nav,
	#nav a,
	#backtoblog,
	#backtoblog a {
		color:white;
	}
}