<section class="cols3-text section">

    <div class="container ">
        <div class="row">
            <div class="col-10 offset-1 offset-lg-0 col-lg-12">
                <div class="row justify-content-between-custom">

                         {% for col in module.cols %}
                             <div class="col-12  col-md-4 item {{loop.last ? 'last'}}">
                                    <h3>{{col.title}}</h3>
                                    <div class="text-black-30">{{col.text}}</div>
                            </div>
                        {% endfor %}
                       

                </div>
            </div>

        </div>
        
        </div>
    </div>
    
    
</section>