<div class="readmore_content">
    <div class="readmore_visible">
        {{content|replace({'<p><!--more--></p>': '</div><a class="readmore_button" data-more="'~__('Read more')~'" data-less="'~__('Read less')~'">'~__('Read more')~'</a><div class="readmore_hidden hidden">'})}}
    </div>
</div>