
<div id="cookiesMessage">

	<div id="cookiesMessage-content">
        {{__('En aquesta web utilitzem cookies pròpies i/o de tercers per millorar els nostres serveis i mostrar informació relacionada amb les teves preferències mitjançant l’anàlisi dels teus hàbits de navegació. Si continues navegant, considerem que acceptes el seu ús. Pots canviar la configuració o obtenir més informació','mimcord')}}
        <a class="spa_link_cookies" href="{{ site.url }}/politica-de-cookies/">{{__('aquí','mimcord')}}</a>
    </div>

	<div id="cookiesMessage-close">
		<span class="line1"></span>
		<span class="line2"></span>
	</div>

</div>