<nav id="menu">
	<div class="background-wrapper">
		<div class="background-menu background background-1"></div>
		<div class="background-menu background background-2"></div>
		<div class="background-menu background background-3"></div>
		<div class="background-menu background background-4"></div>
	</div>	
	<div class="content-wrapper">
		<div class="col-half col-half-left">
				<a class="logo logo-menu" href="{{site.url}}">Mimcord</a>
		</div>
		<div class="col-half col-half-right">
			<div class="tagline tagline-menu">{{texts.tagline}}</div>
			<ul class="menu-content">
				{% for item in menus.main %}
					<li class="li-menu">
						<a href="{{item.url}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
			<div class="copyright tagline-menu">© Mimcord SA</div>
		</div>
	</div>
	<div id="menuClose" class="closeMenu">
		<div class="line line-1"></div>
		<div class="line line-2"></div>
	</div>
	<div class="close-menu">
		<span class="line1"></span>
		<span class="line2"></span>
	</div>
</nav>