{% extends "layout.twig" %}

{% block content %}


<div style="height:20vh"></div>

			<div class="container">
				<div class="row">

						<h1 class=" text-center" style="max-width:none; width:100%; display:block; margin-bottom:0;">
							{{error.title}}
						</h1>
						
						<div class=" text-center "  style="max-width:none; width:100%; display:block; text-align:center;">
							{{error.text}}
						</div>
					
				</div>
	
			</div>

<div style="height:15vh"></div>

{% endblock %}
