{% extends "layout.twig"%}

{% block content %}

	<section class="section section-first">
            <div class="container">
                <div class="row">
					{% set img = page.get_field('image_with_text') %}
					{% if not (img ends with '.gif') %}
							{% set img = img|resize(477) %}
					{% endif %}
					<div class="offset-1 offset-lg-0 col-10  col-md-4 col-lg-5 about-first-image">
							<img src="{{img}}" class="img-responsive">
					</div>
                    <div class="offset-1 offset-md-1 col-10  col-md-5  col-lg-6 headline-text-text">
                        {{page.content}}
                    </div>
                </div>
            </div>
    </section>

	
	{% include 'modules.twig' %}

{% endblock %}


