
{% if header %}

<header id="header" class="{{headerClass}}">
    <div class="fill-absolute img-background" style="background-image:url('{{ header.image }}')">
        {% include 'video_background.twig' with {video:header.video_loop} %}
        {% if header.vimeo %}
             {% include 'video_vimeo.twig' with {video:header.vimeo} %}
        {% elseif header.headline %}
            <div class="hero-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-12">
                            <h1 class="hero">{{header.headline}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mask-hero fill-absolute"></div>
        {% endif %}
    </div>
</header>


{% endif %}