{% extends "layout.twig"%}

{% block main %}



<main class="regular-content" id="private-area">
        <div class="container">
            <div class=" underline-links" style="max-width:300px;">

                <p >{{error.text}}</p>
           
		   		<style>
				   	.underline-links a {
						   border-color:#414141;
					   }
				</style>
            </div>
        </div>
</main>
    
{% endblock %}
