
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 {{loop.index > 3 and isHome ? 'hidden-xxs' }}">
                        <a class="h2-serif archive-news-item" href="{{post.link}}">
                            {{post.title}}
                            <span class="see-more">+</span>
                        </a>
                    </div>
                {% endfor %}   
            </div>
        </div>        
